if [ -f "devenv.nix" ] && command -v devenv &> /dev/null; then
  eval "$(devenv direnvrc)"
  use devenv
elif command -v nix >/dev/null 2>&1; then
  if [ -f "flake.nix" ]; then
    use flake
  elif [ -f "shell.nix" ]; then
    use nix
  fi
fi
